body {
	margin:0; 
	background-image: url('img/bg1.png'); 
	background-repeat: repeat-x;
}
#sign-up {
	border-style: solid;
	border-width: 1px;
	border-color: #FFF;
	border-radius: 7px;
	width: 53px;
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.6);
	height: 194px;
	float: right;
	z-index: 100;
	position: relative;
	top: 205px;
	right: -7px;
}
#main{
	width: 1000px; 
	margin: auto;
}
#logo{
	height: 80px; 
	width: 330px; 
	margin-left: 138px; 
	padding-top:30px; 
	border-radius: 0px 0 16px 16px;
	text-align: center; 
	color:#aecce4; 
	font-family: Helvetica; 
	background-color: white; 
	font-size: 40px; 
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.6); 
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.6); 
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.6);
}
#menu { 
	font-size: 18px;
	text-align: left; 
	position: absolute; 
	font-family: Arial; 
	top: 143px; 
	left: 135px; 
	list-style-type: none; 
	text-align: center;
}
#menu li { 
	display: inline; 
	margin-right: 30px;
}
#menu li a {
	text-decoration: none; 
	color: #fba417;
}
#nav {
	margin: 0; 
	padding: 0;
}
#social{
	position: absolute; 
	right: 18px; top: 90px;
}
#social img {
	float: left; 
	margin-right: 14px;
}
header {
	position: relative;
}

.green {
	color: #96d045 !important;
}
.banner {
	background-image: url("img/central.png");
	position: relative;
	left: 6px;
	top: 92px;
	width: 1005px;
	height: 420px;
	z-index: 1;
	text-align: center;
}
#phrase1 {
	font-size: 55px;
	margin-left: 350px;
	width: 655px;
	top: 100px;
	font-family: "Myriad Pro";
	vertical-align: text-bottom;
	height: auto !important;
	padding-top: 73px;
}
#phrase2 {
	color: #7AA6C9;
	font-family: "Century Gothic";
	margin-left: 350px;
	font-size: 41px;
	height: auto !important;
	color: #7AA6C9;
	padding-top: 20px;
}

#content{
	position: relative;
	right: 12px;
	top: 154px;
}

#paragraphs{
	position: relative;
	width: 1000px;
	height: 140px;
	left: 15px;
	top: 140px;
	display: flex;
}

.text{
	width: 263px;
	font-size: 10pt;
	font-family: "Arial";
	color: #666666;
}

footer {

}
